<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.garnishtest.demo.rest_complex.web.dao.mappers.TodoListsMapper">

    <resultMap id="todoListMap" type="org.garnishtest.demo.rest_complex.web.dao.model.TodoList">
        <constructor>
            <arg column="id" javaType="_long"/>
            <arg column="title" javaType="String"/>
        </constructor>
    </resultMap>

    <select id="getAll" resultMap="todoListMap"><![CDATA[
        select
            l.*
        from
            todo_lists l
        where
            l.user_id = #{userId}
    ]]></select>

</mapper>