<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.garnishtest.demo.rest.web.dao.mappers.UsersMapper">

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into users
            (name, username, password)
        values
            (#{name}, #{username}, #{password})
    ]]></insert>

    <select id="getUserByUsername" parameterType="map" resultType="User"><![CDATA[
        select
            *
        from
            users
        where
            username = #{username}
    ]]></select>

    <resultMap id="getUserWithAddressByAuthToken_map" type="User">
        <id property="id"           column="user_id" />
        <result property="name"     column="user_name"/>
        <result property="username" column="user_username"/>
        <result property="password" column="user_password"/>

        <association property="address" javaType="Address">
            <id property="id"                 column="address_id" />
            <result property="textualAddress" column="address_textual_address"/>
            <result property="latitude"       column="address_latitude"/>
            <result property="longitude"      column="address_longitude"/>
        </association>
    </resultMap>

    <select id="getUserWithAddressByAuthToken" parameterType="map" resultMap="getUserWithAddressByAuthToken_map"><![CDATA[
        select
            u.id              as user_id,
            u.name            as user_name,
            u.username        as user_username,
            u.password        as user_password,
            a.id              as address_id,
            a.textual_address as address_textual_address,
            a.latitude        as address_latitude,
            a.longitude       as address_longitude
        from
            users u
                join addresses a on u.id = a.user_id
                join auth_tokens t on u.id = t.user_id
        where
            t.auth_token = #{authToken}
    ]]></select>

</mapper>